@font-face {
    font-family: "poppins";
    src: url(fonts/poppins.ttf) 
}

.logo img {
    position: absolute;
    margin-top: 10px;
    margin-left: 140px;
    width: 100px;

}


.navbar ul{
    list-style: none;
    background: white;
    padding: 0;
    margin: 0;
    text-align: right;

}

.navbar li{
    display: inline-block;
}

.navbar ul li :after{
    content:'';
    width: 0%;
    height:2px;
    background: #7168F6;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar ul li :hover::after{
    width: 65%;
}


.navbar a{
    text-decoration: none;
    color: #666666;
    width: 100px;
    display: block;
    padding: 10px 10px;
    text-transform: uppercase;
    font-weight:light;
    text-align: center;
    font-size: 14px;
    margin-right:40px;
    margin-top: 40px;

}

.navbar a:hover{
    color: #7168F6
}


.intro h2 {
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-weight:bold;
    font-family: "poppins", sans-serif;
    color: #3e3e3e;
    margin-top: 80px;

}

.intro p{
    font-size: 13px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: #666666;
    line-height: 0px;

}

.cifa-text p {
    font-size: 13px;
    margin: 10px;
    padding: 10px;
    text-align: left;
    color: #666666;
    line-height: 0px;
}

.highlight-word-color{
    color:#7168F6;
    font-weight: bold;
}

.cifa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cifa h3{
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    margin: -90px;
    padding-bottom: 100px;
    padding-top: 150px;

}

.cifa p{
    display: flex;
    margin-left: -100px;

}

.cifa img{
    max-width: 65%;
    margin: 30px;
    padding-top: 50px;
}

.view-button{
    display: inline-block;
    color: #7168F6;
    border: none;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    letter-spacing: 2px;
}


.possumTrip {
    display: flex;
    align-items: center;
    justify-content: center;
}

.possumTrip h3{
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    margin: 19px;
    
}

.possumTrip p{
    display: flex;
    font-size: 13px;
    margin: 10px;
    padding: 10px;
    text-align: left;
    color: #666666;
    line-height: 0px;
}

.possumTrip img{
    max-width: 80%;
    margin: 30px;
    padding-top: 50px;
}

.gottoGo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gottoGo h3{
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    margin: 18px;
    
}

.gottoGo p{
    display: flex;
    font-size: 13px;
    margin: 10px;
    padding: 10px;
    text-align: left;
    color: #666666;
    line-height: 0px;
}

.gottoGo img{
    width: 88%;
    padding-top: 100px;
}

footer{
    background: white;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    margin-bottom: 80px;
}

.footerlogo img{
    position:relative;
    width: 100px;
    height: 100px;
    left: 46.5%;
    top: 0;
    padding-top: 50px;
}

.email {
    color: #7168F6;
    position:relative;
    left: 42.5%;
    top: 0;
    padding-top: 50px;
}

.phone p{
    text-align: center;
}
 
@media(max-width: 700px) {

    html{
        font-size: 55%;
    }
    
    header {
        padding:2rem;
    }

.navbar{
    display: block;
}

.navbar{
    position: absolute;
    top: 100%; left:0; right: 0;
    background: #ffffff;
    border-top: .1rem solid rgba(0,0,0,.1);
}
}


.navbar a{
    margin:1.5rem;
    padding:1.5rem;
    background: #ffffff;
}